flask
pymongo
bcrypt
certifi
python-dotenv
wkhtmltopdf
pdfkit
pandas
openpyxl
Flask-Mail
agno
google-generativeai
google-genai
ollama
kokoro
soundfile
gTTS
openai
mercadopago
stripe
