<footer class="rodape">
    <div class="container rodape__grid">

        <!-- Marca -->
        <div class="rodape__col">

            <h2 class="rodape__logo">DataInsight</h2>
            <p>
                Plataforma de análise de dados e métricas para startups e pequenos negócios.
                Simples, acessível e poderosa.
            </p>
            <small>© 2026 DataInsight</small>
        </div>

        <!-- Guias -->
        <div class="rodape__col">
            <h3>Termos de uso e Privacidade</h3>
            <ul>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Privacidade</a></li>
            </ul>
        </div>

        <!-- Suporte -->
        <div class="rodape__col">
            <h3>Acessibilidade</h3>
            <ul>
                <li><a href="#">Nivel AA. Seguindo a WCAG2</a></li>
                <li><a href="https://www.w3.org/TR/WCAG21/">WCAG2</a></li>
            </ul>
        </div>

    </div>
</footer>